@import './styles/HeaderBar.css';
@import './styles/Section.css';

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 20px; /* Add padding to create space at the top */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
